Spaces located at the end of a line should be encoded

If I do not mistake the [RFC2045, section 6.7](https://www.rfc-editor.org/rfc/rfc2045#section-6.7), rule 3:

> Octets with values of 9 and 32 MAY be represented as US-ASCII TAB (HT) and SPACE characters, respectively, **but MUST NOT be so represented at the end of an encoded line**. Any TAB (HT) or SPACE characters on an encoded line MUST thus be followed on that line by a printable character. In particular, an "=" at the end of an encoded line, indicating a soft line break (see rule #5) may follow one or more TAB (HT) or SPACE characters.

```rust
// This test should pass but it does not
assert_eq!(
    quoted_printable::encode_to_str("line ended with few spaces     \r\n"),
    "line ended with few spaces     =\r\n",
);
```

I discovered this bug while using the [lettre](https://github.com/lettre/lettre) crate for [himalaya](https://github.com/soywod/himalaya): the space located after the two dashes of a signature delimiter is not encoded and is therefore trimmed out by MTAs.

I will try to propose a PR!

Published v0.4.6 with the fix